<include file="Public/admin/header.html" title="后台管理" />
<include file="Public/admin/menu.html" />

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">发送通知短信</strong> / <small>这里可以发送短信通知</small></div>
</div>

<div class="am-container">
    <div class="am-container">
        <form class="am-forme" method="post" action="{:U('Message/sent')}"  enctype="multipart/form-data">
            <div class="am-form-group">
                <label for="id">手机号 (群发短信需输入多个号码，以英文逗号分隔)</label>
                <input type="text" class="form-control" id="id" placeholder="手机号" name="mobile">
            </div>
            <div class="am-form-group">
                <label for="name">活动名称:</label>
                <input type="text" class="form-control" id="name" placeholder="活动名称" name="title">
            </div>
            <div class="am-form-group">
                <label for="major">活动时间:</label>
                <input type="text" class="form-control" id="major" placeholder="活动时间" name="time">
            </div>
            <div class="am-form-group">
                <label for="major">活动地点:</label>
                <input type="text" class="form-control" id="major" placeholder="活动地点" name="address">
            </div>
            <div class="am-form-group">
                <button type="submit" class="am-btn-default">发送</button>
            </div>
        </form>
    </div>
</div>

<include file="Public/admin/footer.html" />