<include file="Public/admin/header.html" title="后台管理" />
<include file="Public/admin/menu.html" />
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">编辑管理员账号信息</strong> / <small>在这里可以编辑管理员信息</small></div>
</div>

<div class="am-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">修改管理员信息</h3>
        </div>
        <div class="panel-body">
            <div class="am-container">
                <form class="am-form-inline" method="post" action="__URL__/update"  enctype="multipart/form-data">
                    <INPUT type="hidden" name="id" value="{$vo.id}">
                    <div class="am-form-group">
                        <label for="name">用户名</label>
                        <input type="text" class="form-control" id="name" placeholder="用户名" name="username" value="{$vo.username}" >
                    </div>
                    <div class="am-form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="密码" name="password">
                    </div>
                    <div class="am-form-group">
                        <label for="major">昵称</label>
                        <input type="text" class="form-control" id="major" placeholder="昵称" name="name" value="{$vo.name}">
                    </div>
                    <div class="am-form-group">
                        <br>
                        <button type="submit" class="am-btn-default">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<include file="Public/admin/footer.html" />