<include file="Public/admin/header.html" title="后台管理" />
<include file="Public/admin/menu.html" />
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">管理员管理</strong> / <small>在这里管理管理员账号</small></div>
</div>

<div class="am-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">添加管理员</h3>
        </div>
        <div class="panel-body">
            <div class="am-container">
                <form class="am-form-inline" method="post" action="{:U('Admin/add')}"  enctype="multipart/form-data">
                    <div class="am-form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" placeholder="用户名" name="username">
                    </div>
                    <div class="am-form-group">
                        <label for="name">昵称</label>
                        <input type="text" class="form-control" id="name" placeholder="昵称" name="name">
                    </div>
                    <div class="am-form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="密码" name="password">
                    </div>
                    <div class="am-form-group">
                        <br>
                        <button type="submit" class="am-btn-default">添加</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>用户名</th>
                <th>昵称</th>
                <th>管理</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo.username}</td>
                    <td>{$vo.name}</td>
                    <td><a href="__URL__/edit/id/{$vo.id}">修改</a> <a href="__URL__/del/id/{$vo.id}">删除</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div>{$page}</div>
</div>

<include file="Public/admin/footer.html" />