<include file="Public/admin/header.html" title="后台管理" />
<include file="Public/admin/menu.html" />
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>网站系统概况</small></div>
</div>
<hr>
<div class="am-g">
    <div class="am-u-sm-12 am-u-sm-centered">
        <h2>活动管理系统</h2>
        <p>Beta 1.0</p>
        <hr/>
    </div>

    <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <h3>关于网站</h3>
        <p>本网站现共有<strong>{$so}</strong>个管理员,有<strong>{$wo}</strong>个组织账户,有<strong>{$no}</strong>个个人账户.</p>

        <h4><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>开发框架</h4>
        <p>PHP框架:<a href="http://thinkphp.cn" target ="_blank">ThinkPHP v3.2.3</a></p>
        <p>前端框架:<a href="http://amazeui.org/" target="_blank">Amaze UI v2.5.2</a> </p>


        <h4><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>开发者</h4>
        <p>张新宇 York Zhang</p>
    </div>
</div>
<include file="Public/admin/footer.html" />