<include file="Public/orgs/header.html" title="组织控制台" />
<include file="Public/orgs/menu.html" />
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>网站系统概况</small></div>
</div>
<hr>
<div class="am-g">
<ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
    <li><span class="am-icon-btn am-icon-file-text"></span><br>全站活动<br>{$vo}</li>
    <li><span class="am-icon-btn am-icon-briefcase"></span><br>组织数<br>{$wo}</li>
    <li><span class="am-icon-btn am-icon-user-md"></span><br>用户数<br>{$no}</li>
    <li><span class="am-icon-btn am-icon-send"></span><br>全站报名<br>{$co}</li>
</ul>
</div>
<include file="Public/admin/footer.html" />